<div class="container">
  <div class="row justify-content-center mt-4">
    <h2><%= @article.title %></h2>
  </div>

  <div class="row justify-content-center">
    <div class="col-8 mt-4">
      <div class="card text-center">
        <div class="card-header">
          by <%= @article.user.username %>
          <%= link_to gravatar_for(@article.user), @article.user %>
          <% if @article.categories.present? %>
            <div class="mt-2">
              <% @article.categories.each do |category| %>
                <%= render 'categories/category_badge', { category: category } %>
              <% end %>
            </div>
          <% end %>
        </div>
        <div class="card-body">
          <div class="card-text text-left"><%= simple_format(@article.description) %></div>

          <% if logged_in? && (@article.user == current_user || current_user.admin?) %>
            <%= link_to 'Edit', edit_article_path(@article), class: 'btn btn-outline-info' %>
            <%= link_to 'Delete', article_path(@article), method: :delete,
                        data: { confirm: 'Are you sure?' }, class: 'btn btn-outline-danger' %>
          <% end %>
        </div>
        <div class="card-footer text-muted">
          <%= "Created #{time_ago_in_words(@article.created_at)}, edited #{time_ago_in_words(@article.updated_at)}" %>
        </div>
      </div>
    </div>
  </div>
</div>
